/*body{
	background-color: black;
	background-repeat: repeat;
	position: relative;
}*/
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif ;
	color: #777;
	background-color: black;
	/*background-repeat: repeat;*/
	position: relative;
}


/* MIEDO HISTORIAS Y LEYENDAS NO SELECCIONABLE*/

span.no_selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}


.bgimg-1 {
  	position: relative;
  	opacity: 0.90;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
 	background-image: url("../img/source.gif");
    height: 100%; 
}
.caption {
  	position: absolute;
  	left: 0;
  	top: 40%;
  	width: 100%;
  	text-align: center;
  	color: #000;
}
.caption span.border {
	border: none!important;
  /*	background-color: #111!important;*/
  	color: #fff;
  	padding: 18px;
  	font-size: 50px;
  	letter-spacing: 10px;
  /*	font-family: 'Kaushan Script', cursive;*/
  	font-family: 'Butcherman', cursive;

}
div#contImg {
  width: 400px;
  height: 315px;
 /* position: absolute;*/
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
}
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
.div-img.hidden {
  overflow: hidden;
}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 630px;
  height: 350px;
  margin-left: 0px;
  -webkit-transition: margin 1s ease;
  -moz-transition: margin 1s ease;
  -o-transition: margin 1s ease;
  -ms-transition: margin 1s ease;
  transition: margin 1s ease;
}
.div-img:hover .img {
  margin-left: -200px;
}
div#fearPsycho{
	background-color: white;
	font-family: 'Kalam', cursive;
	font-size: 15px;
}
a:link, a:visited{
	color: firebrick;
	text-decoration: none; 
}

/*Imagen hospital*/

* {
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}

#imghos {
   /* position: relative;*/
 /* border: 1px solid #333;*/
   /* -moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;*/
  	/*box-sizing: border-box;*/
  	padding: 0;
  	margin: 0;
}
#imghos{
  /*position: relative;*/
  /*border: 1px solid #333;*/
  margin: 2%;
  overflow: hidden;
  width: 540px;
}
#imghos img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#imghos:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 575px){
	
}
@media (min-width: 576px) and (max-width: 767px){

}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 1200px){
	
}